@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --headerbg: #f8efdd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --headerbg: #f8efdd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.headerBar{
  background: var(--headerbg);
  height:100px;
  color: #0a0a0a;
}

.headerLink{
  padding:1rem;
}